*ques1*

In [5]:
import pandas as pd
d1 = [4,8,15,16,23,42]
ser = pd.Series(d1,copy=False)

In [7]:
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

*ques 2*

In [8]:
lis = [1,2,3,4,5,6,7,8,9,10]
ser1 = pd.Series(lis,copy=False)
print(ser1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

*ques 3*

In [10]:
d = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data=d)

In [11]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

*ques 4*

**dataframe in pandas is a two dimentional object that can have columns with potential diffrent types.wheareas series is a one-dimentional object that can hold any data type such as integers,float and strings. for example:  as mentioned in above two questions**

*ques 5*

**common function used to manipulate data : head(),info(),drop(),describe(),columns,loc(),iloc(). One function example : head()  - it is used for extracting first five record.**

*ques 6*

**DataFrame and Panel is mutable in nature**

*ques 7*

**To create the dataframe using multiple series we can use concat() function.**
for ex:

In [1]:
import pandas as pd
name = pd.Series(["Anshul","Rahul","Ram"])
sec = pd.Series(["I","J","K"])
Rollno = pd.Series([10,11,12])
df = pd.concat([name,sec,Rollno],axis = 1)
print(df)

        0  1   2
0  Anshul  I  10
1   Rahul  J  11
2     Ram  K  12